@using Abp.MultiTenancy
@using FAS.FirehousePro.MultiTenancy
@using FAS.FirehousePro.Web.Startup
@model Abp.Application.Services.Dto.ListResultDto<FAS.FirehousePro.Application.FireDepartments.Dto.FireDepartmentListDto>
@{
    ViewBag.CurrentPageName = PageNames.FireDepartments; //The menu item will be active for this page.
}

<div>
    <h1>@L("FireDepartments")</h1>
    <div class="row">
        <div class="col-md-12">
            <a asp-controller="FireDepartments" asp-action="Create" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> @L("CreateNewFireDepartment")</a>
            <table class="table">
                <thead>
                    <tr>
                        <th>@L("DepartmentDomain")</th>
                        <th>@L("Name")</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var dept in Model.Items)
                    {
                        <tr>
                            <td>@dept.Domain</td>
                            <td>@dept.Name</td>
                            <td>
                                <a asp-controller="FireDepartments" asp-action="Edit" asp-route-id="@dept.Id" >Edit</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
